.date {
  display: flex;
  flex-direction: row;
  justify-content: center;

  &__month-table {
    display: none;
    width: 210px;
    height: 130px;
    background: green;
    @media (min-width: 640px) {
      display: block;
    }
  }
}
