.date {
  display: flex;
  flex-direction: row;
  justify-content: center;

  &__month-table {
    display: none;
    width: 210px;
    background: #fff;
    border: solid 1px #dcdcdc;
    padding-bottom: 5px;
    box-shadow: -4px 5px 6px -1px rgba(0,0,0,.2);
    @media (min-width: 768px) {
      display: block;
    }
  }

  &__header {
    position: relative;
    font-size: 18px;
    color: #fff;
    text-align: center;
    background: #588C73;
    padding: 5px;
  }

  &__day-name {
    border-bottom: 1px solid #000;
  }

  &__day {
    cursor: pointer;
  }

  &__right-arrow,
  &__left-arrow {
    position: absolute;
    display: inline-block;
    top: 0;
    width: 40px;
    height: 100%;
    cursor: pointer;

    &:before,
    &:after {
      content: '';
      position: absolute;
      width: 12px;
      height: 2px;
      top: 50%;
      left: 50%;
      background: #fff;
    }
  }

  &__right-arrow {
    right: 0;

    &:before,
    &:after {
      transform-origin: right;
    }

    &:before {
      transform: translate(-50%, -70%) rotate(-45deg);
    }

    &:after {
      transform: translate(-50%, -30%) rotate(45deg);
    }
  }

  &__left-arrow {
    left: 0;

    &:before,
    &:after {
      transform-origin: left;
    }

    &:before {
      transform: translate(-50%, -30%) rotate(-45deg);
    }

    &:after {
      transform: translate(-50%, -70%) rotate(45deg);
    }
  }

  &--col {
    display: inline-block;
    text-align: center;
    width: calc(100% / 7);
    font-size: 14px;
    list-style-type: none;
  }

  &--active {
    color: #fff;
    background: #588C73;
  }
}
