@import 'scss/partials';

:global .app {
  height: 100%;
}

:global .main-container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
}

:global .container {
  position: relative;
  background: #f7f7f7;
  flex: 1;
}

:global .btn {
  padding: 3px;
  border: none;
  border-radius: 3px;
  color: #ffffff;
  font-size: 11px;
  cursor: pointer;
}

:global .hidden {
  display: none !important;
}
