.admin {
  padding: 1px;

  &__header {
    margin-bottom: 50px;
  }

  &__menu {
    width: 90%;
    margin: auto;
    margin-bottom: 20px;
  }

  &__menu-item {
    display: inline-block;
    background: #555;
    color: #fff;
    padding: 5px 50px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    cursor: pointer;
    margin-right: 5px;
  }

  &__form-header {
    color: #555;
    font-size: 20px;
    margin-bottom: 50px;
  }

  &__section-wrapper {
    position: relative;
    background: #fff;
    margin-bottom: 50px;
  }

  &__input-container {
    position: relative;
    margin-bottom: 30px;
  }

  &__label {
    font-size: 16px;
    color: #555;
    position: absolute;
    left: 0;
    bottom: 6px;
    transition: transform .3s 0s, font-size .3s 0s;
  }

  &__input {
    font-size: 16px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    width: 80%;
    padding: 5px;
    padding-left: 0;
    transition: border .3s, padding .3s;
    color: #555;
    box-shadow: none;

    &:focus {
      padding-left: 0;
      border-bottom: 1px solid rgba(0, 0, 0, .4);
    }

    &:invalid {
      padding-left: 0;
    }

    &:focus ~ .admin__label,
    &:invalid ~ .admin__label {
      transform: translateY(-100%);
      color: #588c73;
    }
  }

  &__select {
    font-size: 16px;
    color: #555;
    width: 150px;
    background: transparent;
  }

  &__submit {
    font-size: 15px;
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 5px 40px;
    margin-top: 20px;
    cursor: pointer;
    color: #fff;
    font-family: Verdana;
    margin-right: 10px;
  }

  &__search-wrapper {
    position: relative;
    display: inline-block;
    width: 45%;
    margin-bottom: 30px;
  }

  &__search-input {
    font-size: 16px;
    width: 100%;
    padding: 7px 10px;
    padding-right: 40px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
  }

  &__search-icon {
    position: absolute;
    user-select: none;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }

  &__message-wrapper {
    display: inline-block;
    position: absolute;
    width: 50%;
    right: 20px;
    top: 32px;
  }

  &__message {
    display: inline-block;
    padding: 5px;
    border-radius: 3px;
    padding-right: 45px;
    color: #fff;
    width: 100%;
    text-align: center;
    cursor: default;
  }

  &__message-close {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
  }

  &__submit-wrapper {
    visibility: hidden;
  }

  &--show {
    visibility: visible;
  }

  &__module {
    display: none;
  }

  &--active {
    display: block;
  }

  // orders
  &__item-list {
    list-style: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);

    &:first-child {
      padding: 3px;
      background: #588c73;
      color: #fff;
      border: none;
      margin-bottom: 10px;
    }
  }

  &__date {
    width: 15%;
  }

  &__direction {
    width: 40%;
  }

  &__total {
    text-align: right;
    width: calc(20% - 1px);
  }

  &__detail {
    width: calc(10% - 1px);
  }

  &__detail-link {
    color: #6E9ECF;
    cursor: pointer;
  }
}
