.hero {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 25%;
  background: url(http://artelista.s3.amazonaws.com/obras/big/0/9/7/5913365016626755.jpg) no-repeat fixed;
  background-position: center center;
  background-size: cover;
}
