$on-dropdown: #fff;
$nav-height: 60px;

@-webkit-keyframes affixNav {
  0% { transform: translate3d(0, 0, 0); }
  0% { transform: translate3d(0, -100%, 0); }
  100% { transform: translate3d(0, 0, 0); }
}

@keyframes affixNav {
  0% { transform: translate3d(0, 0, 0); }
  0% { transform: translate3d(0, -100%, 0); }
  100% { transform: translate3d(0, 0, 0); }
}

.nav {
  height: $nav-height;
  min-height: $nav-height;

  &__wrapper {
    position: relative;
    height: $nav-height;
    width: 100%;
    color: #555;
    white-space: nowrap;
    padding: 0 0 0 20px;
    z-index: 10;
    background: #fff;
    transform: translate3d(0, 0, 0);
    @media (min-width: 640px) {
      padding: 0 20px 0 20px;
    }

    &:global(.affix) {
      box-shadow: 0px 5px 6px -3px rgba(0,0,0,.1);
      animation: affixNav forwards .3s;
    }
  }

  &__logo {
    display: inline-block;
    height: 100%;
    max-width: 110px;
    @media (min-width: 640px) {
      max-width: 140px;;
    }
  }

  &__logo-img {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
  }

  &__title {
    color: #10346b;
    display: inline-block;
    display: none;
    vertical-align: top;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-size: 0;
  }

  &__menu {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    width: 100%;
    height: 100vh;
    top: 100%;
    left: 0;
    background: rgba(0, 0, 0, 0.9);
    transition: visibility 0s .35s, opacity .35s 0s;
    @media (min-width: 640px) {
      display: inline-block;
      position: static;
      height: 100%;
      vertical-align: top;
      width: calc(100% - 120px);
      padding: 0 0 0 30px;
      visibility: visible;
      opacity: 1;
      background: transparent;
    }
  }

  &__menu-item {
    position: relative;
    list-style-type: none;
    text-align: center;
    @media (min-width: 640px) {
      display: inline-block;
      height: 100%;
    }

    &.home-btn {
      margin-top: 50px;
      @media (min-width: 640px) {
        display: none;
      }
    }
  }

  &__menu-dropdown, &__menu-btn {
    display: inline-block;
    padding: 10px 0;
    width: 80%;
    text-decoration: none;
    font-weight: bold;
    color: inherit;
    @media (min-width: 640px) {
      height: 100%;
      width: auto;
    }
  }

  &__menu-btn {

    @media (min-width: 640px) {
      min-width: 150px;
    }
  }

  &__menu-dropdown {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
  }

  &__menu-btn:hover {

    @media (min-width: 640px) {
      & .nav__btn-slide {
        bottom: calc(100% - 3px);
        transition: bottom .25s;
      }

      & .nav__label-name {
        color: #fff;
      }
    }
  }

  &__btn-slide {
    display: none;
    @media (min-width: 640px) {
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      bottom: 0;
      left: 0;
      background: #fff;
      transition: bottom .1s linear;
    }

    &:before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 3px;
      background: #333;
    }
  }


  &__btn-background {
    display: none;
    @media (min-width: 640px) {
      display: block;
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      background: #aaa;
      object-fit: cover;
    }
  }

  &__label-name {
    position: relative;
    color: #fff;
    letter-spacing: 1px;
    @media(min-width: 640px) {
      color: inherit;
      letter-spacing: normal;
      transition: color .1s;
      top: 50%;
      transform: translateY(-50%);

      &:before {
        display: none;
      }
    }

    &:before {
      position: absolute;
      content: '';
      width: 0;
      height: 2px;
      top: 100%;
      left: 50%;
      transform: translateX(-50%);
      transition: width 0.3s;
      background: #fff;
    }
  }

  &__menu-label {
    display: inline-block;

    &.drp {
      padding: 0 5px;
      height: 60px;
    }

    &.btn {
      position: relative;
      height: 100%;
      width: 100%;
      text-align: center;
      @media (min-width: 640px) {
        width: auto;
        margin: 0 5px;
      }
    }
  }

  *, *::before, *::after {
    -webkit-user-select: none;
            user-select: none;
  }
}

.active {
  & .nav__label-name:before {
    width: 70%;
  }
}

.status-check {
  display: none;

  &:checked ~ {

    & .dropdown {
      display: block;
    }

    & .nav__menu-label.drp {
      background: $on-dropdown;
      box-shadow: -3px 5px 6px -3px rgba(0,0,0,.2);
    }

    & .nav__menu-label .menu-label-dropdown {
      background: $on-dropdown;
      border-color: $on-dropdown;
      color: #555;
    }
  }
}

.dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: $on-dropdown;
  height: 130px;
  width: 150px;
  z-index: 14;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  box-shadow: 1px 4px 5px 0px rgba(0,0,0,.2);
}

.dropdown-item {
  list-style-type: none;
}

.hamburger {
  float: right;
  height: 100%;
  padding: 10px 20px;
  @media (min-width: 640px) {
    display: none;
  }

  &__lines {
    position: relative;
    display: inline-block;
    width: 22px;
    height: 3px;
    background: #555;
    transition: background 0.2s;

    &:before, &:after {
      content: '';
      position: absolute;
      left: 0;
      display: inline-block;
      width: 22px;
      height: 3px;
      background: #555;
      transition: transform 0.2s 0s, top 0.2s 0.2s;
    }

    &:before {
      top: -6px;
    }

    &:after {
      top: 6px;
    }
  }
}

.hamburger-toggle {

  &:checked ~ {

    & .hamburger {

      .hamburger__lines {
        background: transparent;

        &:before, &:after {
          transition: transform 0.2s 0.2s, top 0.2s 0s;
        }

        &:before {
          top: 0;
          transform: rotate(45deg);
        }

        &:after {
          top: 0;
          transform: rotate(-45deg);
        }
      }
    }

    & .nav__menu {
      visibility: visible;
      opacity: 1;
      transition: visibility 0s 0s, opacity .35s 0s;
    }
  }
}
