$on-dropdown: #fff;
$nav-height: 60px;

@-webkit-keyframes affixNav {
  0% { transform: translate3d(0, 0, 0); }
  0% { transform: translate3d(0, -100%, 0); }
  100% { transform: translate3d(0, 0, 0); }
}

@keyframes affixNav {
  0% { transform: translate3d(0, 0, 0); }
  0% { transform: translate3d(0, -100%, 0); }
  100% { transform: translate3d(0, 0, 0); }
}

.nav {
  position: relative;
  height: $nav-height;
  width: 100%;
  color: #555;
  white-space: nowrap;
  padding: 0 20px 0 20px;
  z-index: 10;
  background: #fff;

  *, *::before, *::after {
    -webkit-user-select: none;
            user-select: none;
  }

  &:global(.affix) {
    box-shadow: 0px 5px 6px -3px rgba(0,0,0,.1);
    animation: affixNav forwards .3s;

    + :global(.container) {
      margin-top: $nav-height;
    }
  }
}

.nav-logo {
  display: inline-block;
  height: 100%;
  max-width: 110px;
  @media (min-width: 640px) {
    max-width: 140px;;
  }

  .logo-img {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
  }
}

.nav-title {
  color: #10346b;
  display: inline-block;
  display: none;
  vertical-align: top;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  font-size: 0;
}

.menu {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 100%;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  @media (min-width: 640px) {
    display: inline-block;
    position: static;
    height: 100%;
    vertical-align: top;
    width: calc(100% - 120px);
    padding: 0 0 0 30px;
    background: transparent;
  }
}

.menu-item {
  position: relative;
  list-style-type: none;
  text-align: center;
  @media (min-width: 640px) {
    display: inline-block;
    height: 100%;
  }

  &.home-btn {
    @media (min-width: 640px) {
      display: none;
    }
  }

  input[type='checkbox'], input[type='radio'] {
    display: none;
  }
}

.active {
  & .label-name:before {
    width: 50%;
  }
}

.status-check {
  display: none;

  &:checked ~ {

    & .dropdown {
      display: block;
    }

    & .menu-label.drp {
      background: $on-dropdown;
      box-shadow: -3px 5px 6px -3px rgba(0,0,0,.2);
    }

    & .menu-label .menu-label-dropdown {
      background: $on-dropdown;
      border-color: $on-dropdown;
      color: #555;
    }
  }
}

.dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: $on-dropdown;
  height: 130px;
  width: 150px;
  z-index: 14;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  box-shadow: 1px 4px 5px 0px rgba(0,0,0,.2);
}

.dropdown-item {
  list-style-type: none;
}

.menu-label {
  display: inline-block;

  &.drp {
    padding: 0 5px;
    height: 60px;
  }

  &.btn {
    position: relative;
    height: 100%;
    width: 100%;
    text-align: center;
    @media (min-width: 640px) {
      width: auto;
      margin: 0 5px;
    }
  }
}

.menu-label-dropdown, .menu-label-btn {
  display: inline-block;
  padding: 10px 0;
  width: 80%;
  text-decoration: none;
  font-weight: bold;
  color: inherit;
  @media (min-width: 640px) {
    height: 100%;
    width: auto;
  }
}

.menu-label-btn {

  @media (min-width: 640px) {
    min-width: 150px;
  }
}

.menu-label-dropdown {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}

.menu-label-btn:hover {

  @media (min-width: 640px) {
    & .btn-slide {
      bottom: calc(100% - 3px);
      transition: bottom .25s;
    }

    & .label-name {
      color: #fff;
    }
  }
}

.btn-slide {
  display: none;
  @media (min-width: 640px) {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    background: #fff;
    transition: bottom .1s linear;
  }

  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: #333;
  }
}

.btn-background {
  display: none;
  @media (min-width: 640px) {
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: #aaa;
    object-fit: cover;
  }
}

.label-name {
  position: relative;
  color: #fff;
  letter-spacing: 1px;
  @media(min-width: 640px) {
    color: inherit;
    letter-spacing: normal;
    transition: color .1s;
    top: 50%;
    transform: translateY(-50%);

    &:before {
      display: none;
    }
  }

  &:before {
    position: absolute;
    content: '';
    width: 0;
    height: 2px;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    transition: width 0.3s;
    background: #fff;
  }
}
