.market {

  :global(.hero-g) {
    height: 216px;
    padding: 0;
  }

  &__items-container {
    width: 90%;
    min-height: 780px;
    margin: 20px auto 0;
    padding-bottom: 20px;
    list-style: none;
  }

  &__item {
    display: inline-block;
    opacity: 1;
    visibility: visible;
    width: 100%;
    height: 260px;
    background: #fff;
    border: 10px solid #f7f7f7;
    vertical-align: top;
    overflow: hidden;
    transition: visibility 0s 0s linear, opacity 0.5s 0s;
    @media (min-width: 640px) {
      width: 33%;
    }
    @media (min-width: 980px) {
      width: 25%;
    }

    &--hide {
      position: absolute;
      opacity: 0;
      visibility: hidden;
      z-index: -1;
    }
  }

  &__item-group {
    width: 100%;
    text-align: center;

    &:global(.added) {

      .market__add-one-btn {
        display: none;
      }

      .market__add-remove-container {
        display: block;
      }
    }
  }

  &__item-image {
    width: 100%;
    height: 100px;
    object-fit: cover;
  }

  &__item-name {
    padding: 5px 0 0;
  }

  &__item-price {
    padding: 5px 0 10px 0;
  }

  &__add-one-btn {
    cursor: pointer;
    padding: 3px;
    background: #588c73;
    color: #fff;
  }

  &__add-remove-container {
    -webkit-user-select: none;
    user-select: none;
    display: none;
  }

  &__cart-btn {
    padding: 3px;
    cursor: pointer;
  }

  &__cart-count {
    vertical-align: top;
    margin: 0 15px;
    font-size: 20px;
  }

  &__nav-container {
    width: 100%;
    height: 50px;
  }

  &__nav {
    position: relative;
    width: 100%;
    height: 50px;
    text-align: right;
    transform: translate3d(0, 0, 0);
    z-index: 1;
  }

  &__filters {
    position: relative;
    display: inline-block;
    text-align: right;
    padding-right: 10px;
    width: 58%;
    vertical-align: top;
    height: 100%;
    background: #E9E0D6;
    @media (min-width: 640px) {
      width: calc(85% - 210px);
    }

    &:before {
      content: '';
      position: absolute;
      top: 0;
      width: 0;
      height: 0px;
      border-left: 30px solid transparent;
      border-right: 0px solid transparent;
      border-top: 50px solid #E9E0D6;
      right: 100%;
    }
  }

  &__filters-container {
    position: relative;
    top: 15px;
  }

  &__shopping-cart {
    display: inline-block;
    width: 41%;
    text-align: right;
    padding: 5px 10px 5px 0;
    background: #E9E0D6;
    float: right;

    @media (min-width: 640px) {
      width: 18%;
      float: none;
    }
  }

  &__total-cart {
    display: inline-block;
    vertical-align: top;
    padding: 6px 5px 0px 5px;
  }

  &__filter {
    padding: 0 5px;
    background: #fff;
    margin-right: 3px;
    border: 2px solid #000;
    border-radius: 5px;
    cursor: pointer;

    &:first-child {
      margin-left: 3px;
    }

    &--active {
      background: #555;
      color: #fff;
    }
  }
}
