.cart {
  position: relative;
  cursor: pointer;
  font-size: 35px;
  text-decoration: none;
  color: #555;

  &__number {
    position: absolute;
    top: 5px;
    left: 10px;
    font-size: 14px;
    font-family: arial;
    color: #fff;
    width: 16px;
    text-align: center;
  }
}
